/* Import Google Fonts */
@import url("//fonts.googleapis.com/css2?family=Battambang:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Image */
#song a img{
 transform:translatex(0px) translatey(0px);
}

/* Link */
#song a{
 background-color:#191414 !important;
 color:#ffffff !important;
 font-family:'Battambang', display !important;
 border-width:8px !important;
 border-color:#1db954 !important;
 border-style:solid !important;
 font-style:normal !important;
 text-transform:none !important;
 font-weight:300 !important;
 min-width:200px !important;
 max-width:20px !important;
}

/* Song */
#song{
 padding-left:0px;
 padding-right:0px;
 margin-left:0px;
 line-height:32px;
 background-position-x:0%;
 width:100% !important;
 max-width:200px;
 max-height:200px;
 overflow:auto;
 transform:translatex(581px) translatey(211px);
 height:83px;
 min-width:200px;
 min-height:200px;
}

